<div class="action-dialog-app col">
  <!-- Actor Selection Tab -->
  <nav class="select row left wrap pad" id="actor-selector">
    {{#each actors}}
      <a class="tab-button" id="{{this}}">{{this}}</a>
    {{/each}}
  </nav>

  <div class="row tab" data-tab="{{actor.label}}">

    <!-- Actor Information -->
    <div class="col actor-info">
      <img id="img.{{actor.uuid}}" src="{{actor.img}}" alt="{{actor.label}}">

      <!-- Action Information {DETERMINED BY SPECIFIC CLASS}-->
    </div>

    <!-- Item Information -->
    <div class="col center item-info">

      <!-- Item Selection Tab-->
      <nav class="select row left pad" id="item-selector-{{actor.uuid}}">
        {{#each actions}}
          <a class="tab-button" id="{{this}}">{{this}}</a>
        {{/each}}
      </nav>

      <!-- Item Selection Information-->
      <div class="col items center">
        {{#each actor.items}}
          {{#if this}}
            <div class="col tab item pad" data-tab="{{@key}}">
              {{#each this}}
                <button class="button" id="{{this.uuid}}">{{this.label}}</button>
              {{/each}}
            </div>
          {{/if}}
        {{/each}}
      </div>

    </div>

  </div>
</div>