<div class="container">
  <div class="row">
    <div class="combatant-img col">
      <label>{{combatant.name}}</label>
      <img id="{{combatant.id}}" src="{{combatant.img}}" title="{{combatant.name}}">
    </div>
    {{#each combatant.items}}
      {{#if this}}
        <div class="col">
          <label><b>{{@key}}</b></label>
          {{#each this}}
            <div class="desc">{{this.description}}</div>
            <div class="button">
              <button type="button" id="{{this.id}}" value="{{this.uuid}}">
                <label>{{this.name}}</label>
                <label>
                  {{#if action.cost}}
                    {{localize "DND5E.Uses"}} [{{action.cost}}/] 
                  {{/if}}
                </label>
              </button>
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}
  <button class="dialog-button {{cssClass}}" data-button="{{id}}">
    {{{button.icon}}}
    {{{button.label}}}
  </button>
  {{/each}}
</div>
