<div class="container">
  {{#each renderData as |rdata id|}}
  <div class="row">
    <div class="col">
      <button type="button" class="img-button">
        <img src="{{rdata.img}}" title="{{rdata.name}}">
      </button>
    </div>
        <div class="col">
          {{#each rdata.actions as |action id|}}
          <div class="row form-group">
            <div class="desc">{{{action.description}}}</div>
            <div class="col">
              <label>{{action.name}}</label>
            </div>
            <div class="col">
              <button type="button" id="{{action.id}}" value="{tokenId},${v._id}">{{localize "DND5E.Uses"}} {{action.cost}}/{{rdata.charges}}</button>
            </div>
          </div>
          {{/each}}
        </div>
  </div>
  {{/each}}
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}
  <button class="dialog-button {{cssClass}}" data-button="{{id}}">
    {{{button.icon}}}
    {{{button.label}}}
  </button>
  {{/each}}
</div>
